{{#if (eq @usage "grid")}}
  <button type={{@type}} class={{@class}} {{on "click" (fn @clickFunction @param)}} aria-label={{@aria-label}}>
    {{yield}}
  </button>
  {{else}}
  <button type={{@type}}  class={{@class}} {{on "click" @function}}>
    {{yield}}
  </button>
{{/if}}
