{{#if (eq @usage "grid")}}
  <button type={{@type}}  class={{@class}} {{on "click" (fn @clickFunction @param)}} {{on "mouseenter" (fn @hoverInFunction @param)}} {{on "mouseleave" (fn @hoverOutFunction @param)}}>
    {{yield}}
  </button>
  {{else}}
  <button type={{@type}}  class={{@class}} {{on "click" @function}}>
    {{yield}}
  </button>
{{/if}}
