{{#if (eq @usage "grid")}}
  <button type={{@type}} class={{@class}} {{on "click" (fn @clickFunction @param)}} aria-label={{@aria-label}}
    data-test={{@data-test}}>
    {{yield}}
  </button>
{{else}}
  <button type={{@type}} class={{@class}} {{on "click" @function}} disabled={{@disabled}} data-test={{@data-test}}>
    {{yield}}
  </button>
{{/if}}