<main class="game-container">
  <h1 class="game__title">Tic-Na-Cho</h1>
  {{#if (eq this.userView "entrance")}}
    <GameSection @class="game-header" @data-test="game-header-section">
      <h2 class="game__subtitle">
        Nacho Vs. Ramses - Tic Tac Toe
      </h2>
      <div class="game-header-img-wrapper">
        <img class="game-header__img" src="assets/images/nacho-vs-ramses.jpeg" alt="Nacho vs Ramses">
      </div>
      <Button @class="game__button--enter" @function={{this.showInputSingle}} @data-test="game__button--enter">
        One Player
      </Button>
      <Button @class="game__button--enter" @function={{this.showInputNames}} @data-test="game__button--enter">
        Two Player
      </Button>
    </GameSection>
  {{/if}}

  {{#if (eq this.userView "singleName")}}
    <GameSection @class="inputSingleName">
      <img class="inputNames__img--nacho" src="assets/images/nacho-intro-c.jpg" alt="Nacho enters ring">
      <Form @class="form" @data-test="game-form">
        <h2 class='form__title'>Enter Luchador's Name</h2>
        <h5 class='form__subtitle'>* luchador who goes first is selected at random</h5>
        <div class='form__group'>
          <label for="playerA">
            Luchador Name
          </label>
          <div class="form__control-wrapper">
            <Input class="form__control" id="playerA" placeholder="*Name" @input={{this.inputPlayerA}}
              autocomplete="off" data-test="input-1" />
          </div>
        </div>
        <Button @type="submit"
          @class={{if this.disabledSubmit "form__button-submit form__button-submit--disabled" "form__button-submit"}}
          @function={{this.newGame }} @disabled={{this.disabledSubmit}} @data-test="button-submit">Play</Button>
      </Form>
      <img class="inputNames__img--ramses" src="assets/images/ramses-intro-c.jpg" alt="Ramses enters ring">
    </GameSection>
    <Footer @clickFunction={{this.showEntrance}}/>
  {{/if}}

  {{#if (eq this.userView "playerNames")}}
    <GameSection @class="inputNames">
      <img class="inputNames__img--nacho" src="assets/images/nacho-intro-c.jpg" alt="Nacho enters ring">
      <Form @class="form" @data-test="game-form">
        <h2 class='form__title'>Enter Luchador's Names</h2>
        <h5 class='form__subtitle'>* luchador who goes first is selected at random</h5>
        <div class='form__group'>
          <label for="playerA">
            Luchador Name
          </label>
          <div class="form__control-wrapper">
            <Input class="form__control" id="playerA" placeholder="*Name" @input={{this.inputPlayerA}}
              autocomplete="off" data-test="input-1" />
          </div>
        </div>
        <div class="form__group">
          <label for="playerB">
            Luchador Name
          </label>
          <div class="form__control-wrapper">
            <Input class="form__control" id="playerB" placeholder="*Name" @input={{this.inputPlayerB}}
              autocomplete="off" data-test="input-2" />
          </div>
        </div>
        <Button @type="submit"
          @class={{if this.disabledSubmit "form__button-submit form__button-submit--disabled" "form__button-submit"}}
          @function={{this.newGame }} @disabled={{this.disabledSubmit}} @data-test="button-submit">Play</Button>
      </Form>
      <img class="inputNames__img--ramses" src="assets/images/ramses-intro-c.jpg" alt="Ramses enters ring">
    </GameSection>
    <Footer @clickFunction={{this.showEntrance}}/>

  {{else if (eq this.userView "playingGame")}}
    <GameSection @class="players-container">
      <div class="players__section-wrapper">
        {{#each @model.players as |player i|}}
          <div class="players__section">
            <h2 class="players__title" data-test="player-title-{{inc i}}"><span class="players-title__name"
                data-test="player-title-name-{{inc i}}">{{player.name}}</span> Is
              <span class="players-title__marker" data-test="player-title-marker-{{inc i}}">
                {{#if (eq player.marker "x")}}
                  Nacho: "X"
                {{else}}
                  Ramses: "O"
                {{/if}}
              </span>
            </h2>
            <p class="players__text" data-test="win-count-{{inc i}}">Wins: {{player.wins}}</p>
          </div>
        {{/each}}
      </div>
      <div class="players__section">
        <h2 class="players__title" data-test="current-name">
          {{this.currentName}}'s Turn
        </h2>
        <h3
          class={{if (eq this.currentMarker "x") "players__subtitle players__subtitle--nacho" "players__subtitle players__subtitle--ramses"}}
          data-test="current-marker">{{this.currentMarker}}</h3>
      </div>
    </GameSection>

    <GameSection @class="grid-container" @data-test="grid-container">
      {{#each @model.grid as |row|}}
        {{#each row as |square|}}
          {{#if (eq square.marker "")}}
            <Button @type="button" @usage="grid"
              @class={{if (eq this.currentMarker "x") "grid__item grid__item--unmarked-x" "grid__item grid__item--unmarked-o"}}
              @clickFunction={{this.makeMove}} @param={{square.position}} @aria-label="Square {{square.id}} is free"
              @data-test="game-button-free-{{square.id}}"></Button>
          {{else}}
            <div
              class={{if (eq square.marker "x") "grid__item grid__item--marked-nacho" "grid__item grid__item--marked-ramses"}}
              tabindex="0" role="button" aria-pressed="true" aria-label="Square {{square.id}} has an {{square.marker}}"
              data-test="game-button-marked-{{square.id}}">
              {{square.marker}}
            </div>
          {{/if}}
        {{/each}}
      {{/each}}
    </GameSection>
    {{#if this.isFirstGame}}
      <GameSection @class="audio-section">
        <audio controls autoplay>
            <source src="assets/sounds/neety-greety.mp3">
            Sorry, your browser does not support the audio controls.
        </audio>
      </GameSection>
    {{/if}}
    <Footer @clickFunction={{this.showEntrance}}/>

  {{else if (eq this.userView "endGame")}}
    <GameSection @class="players-container">
      <div class="players__section-wrapper">
        {{#each @model.players as |player i|}}
          <div class="players__section">
            <h2 class="players__title" data-test="name{{inc i}}">{{player.name}}</h2>
            <p class="players__text" data-test="win-count{{inc i}}">Wins: {{player.wins}}</p>
          </div>
        {{/each}}
      </div>
    </GameSection>

    <GameSection @class="end-modal-container">
      <div class="end-modal" data-test="end-modal">
        <h2 class={{if (eq this.currentMarker "x") "end-modal__title" "end-modal__title end-modal__title--ramses"}}
          data-test="game-result">
          {{#if this.winner}} {{#if (eq this.currentMarker "x")}} {{this.winner}}, You Have Eagle Powers! {{else}}
              {{this.winner}}, Your Muscles Are Number ONE! {{/if}}
          {{else if this.draw}} A Draw... Eagle Powers Was A Lie!
          {{/if}} </h2>
        <div class="end-modal-img-container">
          {{#if this.winner}}
            {{#if (eq this.currentMarker "x")}}
              <img class="end-modal__img--nacho" src="assets/images/nacho-win-c.jpg" alt="Nacho Wins">
            {{else}}
              <img class="end-modal__img--ramses" src="assets/images/ramses-win-c.jpg" alt="Ramses Wins">
            {{/if}}
          {{else if this.draw}}
            <img class="end-modal__img--draw" src="assets/images/nacho-ramses-draw.jpg" alt="It's a draw">
          {{/if}}
        </div>
        <div class="end-modal__section">
          <h3 class="end-modal-section__title">
            Wrestle Again
          </h3>
          <div class="end-modal__buttons-wrapper">
            <Button @class="end-modal__button end-modal__button--same-players" @type="button" @function={{this.newGame}}
              @data-test="button-same-players">Same Players</Button>
            <p class="end-modal__text">OR</p>
            <Button @class="end-modal__button end-modal__button--new-players" @type="button"
              @function={{this.newPlayers}} @data-test="button-new-players">New Players</Button>
          </div>
        </div>
      </div>
    </GameSection>
    <GameSection @class="audio-section">
      <audio controls autoplay>
        {{#if this.winner}}
          <source
            src={{if (eq this.currentMarker "x") "assets/sounds/nacho-libre-theme.mp3" "assets/sounds/ramses-number-1.mp3"}}>
          Sorry, your browser does not support the audio controls.
        {{else}}
          <source src="assets/sounds/draw-no-powers.mp3">
          Sorry, your browser does not support the audio controls.
        {{/if}}
      </audio>
    </GameSection>

    <GameSection @class="grid-container" @data-test="grid-container">
      {{#each @model.grid as |row|}}
        {{#each row as |square|}}
          {{#if (or this.winner this.draw)}}
            {{#if square.isWinningSquare}}
              <div class="grid__item grid__item--winning" tabindex="0" role="button" aria-pressed="true"
                aria-label="Square {{square.id}} has an {{square.marker}}"
                data-test="button-end-game-marked-{{square.id}}">
                {{#if (eq square.marker "x")}}
                  <img class="grid-item__img--nacho" src="assets/images/nacho-mask-c.jpg" alt="nacho mask">
                {{else}}
                  <img class="grid-item__img--ramses" src="assets/images/ramses-mask-c.jpg" alt="ramses mask">
                {{/if}}
              </div>
            {{else if square.marker}}
              <div
                class={{if (eq square.marker "x") "grid__item grid__item--marked-nacho" "grid__item grid__item--marked-ramses"}}
                tabindex="0" role="button" aria-pressed="true"
                aria-label="Square {{square.id}} has an {{square.marker}}"
                data-test="button-end-game-marked-{{square.id}}">
                {{square.marker}}</div>
            {{else}}
              <div class="grid__item" tabindex="0" role="button" aria-pressed="true"
                aria-label="Square {{square.id}} is empty" data-test="button-end-game-unmarked-{{square.id}}">
              </div>
            {{/if}}
          {{/if}}
        {{/each}}
      {{/each}}
    </GameSection>
    <Footer @clickFunction={{this.showEntrance}}/>
  {{/if}}
</main>