<main class="game-container">
  <h1 class="game__title">Tic Tac Toe</h1>
  {{#each @model.players as |player|}}
    <p>{{player.name}}</p>
  {{/each}}

  <Button @function={{this.setGrid}}>Start</Button>

<section class="grid-container">
    {{#each @model.grid as |row|}}
      {{#each row as |square|}}
          {{#if this.result}}
          <div class="grid__item">{{square.marker}}</div>
          {{else}}
            {{#if (eq square.marker "")}}
              <button type="button" class="grid__item" {{on "click" (fn this.makeMove square.marker square.position)}}>{{square.marker}}</button> 
            {{else}}
              <div class="grid__item">{{square.marker}}</div>
            {{/if}}
        {{/if}}
      {{/each}}
    {{/each}}
</section>

</main>