<main class="game-container">
  <h1 class="game__title">Tic Tac Toe</h1>

  <form class="game__form">
 {{!-- <Button @type="submit"></Button> --}}
  </form>



  <section class="players-container">
    {{#each @model.players as |player|}}
    <div class="players">
      <h2 class="players__title">Player {{player.number}}</h2>
      <h2 class="players__item--name">{{player.name}} is "{{player.marker}}"</h2>
    </div>
    {{/each}}
  </section>

  

<section class="grid-container">
    {{#each @model.grid as |row|}}
      {{#each row as |square|}}
          {{#if this.result}}
          <div class="grid__item">{{square.marker}}</div>
          {{else}}
            {{#if (eq square.marker "")}}
              <button type="button" class="grid__item" {{on "click" (fn this.makeMove square.marker square.position)}}>{{square.marker}}</button> 
            {{else}}
              <div class="grid__item">{{square.marker}}</div>
            {{/if}}
        {{/if}}
      {{/each}}
    {{/each}}
</section>

<section class="end-game-container">
  <Button @type="button" @function={{this.setGrid}}>Start New Game</Button>
</section>

</main>